# GitHub Actions cache
/.github/.cache

# Docker cache
docker/logs/
docker/minio/
docker/plugins/
docker/postgres/

# DBT cache
banking/.dbt/
banking/analyses/
banking/logs/
banking/macros/
banking/seeds/
banking/target/
banking/tests/

.env
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
docker-compose.override.yml
logs/
**/profiles.yml
**/.user.yml
.venv/
.python-version
.DS_Store
Thumbs.db